<div class="wrap" style="padding-bottom: 15px;padding-top: 15px;">
	<div class="container">
	   <div class="row justify-content-between">
		  <div class="col-12 col-md d-flex align-items-center">
			 <p class="mb-0 phone">
				<span class="mailus">Phone no:</span>
				<a href="#">+233(0) 54 012 6621</a>
				or
				<span class="mailus">email us:</span>
				<a href="#">info@theaddressgh.com</a>
			 </p>
		  </div>
	   </div>
	</div>
 </div>