<div class="container">
    <div class="col-12 heading-section text-center ftco-animate">
        <h2 class="mb-4 text-center">Our Team</h2>
    </div>
    
    <div class="row ftco-animate">
        <div class="col-md-12 testimonial">
            <div class="carousel-testimony owl-carousel ftco-owl">
            <div class="item">
                <div class="testimony-wrap d-flex align-items-stretch" style="background-image: url(images/testimony-1.jpg);">
                    <div class="overlay"></div>
                    <div class="text" style="height: 140px;">
                        <div class="line"></div>
                        <p class="name">Donna Scott</p>
                        <span class="position">Marketing Manager</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testimony-wrap d-flex align-items-stretch" style="background-image: url(images/testimony-2.jpg);">
                    <div class="overlay"></div>
                    <div class="text" style="height: 140px;">
                        <div class="line"></div>
                        <p class="name">Roger Scott</p>
                        <span class="position">Interface Designer</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testimony-wrap d-flex align-items-stretch" style="background-image: url(images/testimony-3.jpg);">
                    <div class="overlay"></div>
                    <div class="text" style="height: 140px;">
                        <div class="line"></div>
                        <p class="name">Roger Scott</p>
                        <span class="position">UI Designer</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testimony-wrap d-flex align-items-stretch" style="background-image: url(images/testimony-4.jpg);">
                    <div class="overlay"></div>
                    <div class="text" style="height: 140px;">
                        <div class="line"></div>
                        <p class="name">Roger Scott</p>
                        <span class="position">Web Developer</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testimony-wrap d-flex align-items-stretch" style="background-image: url(images/testimony-5.jpg);">
                    <div class="overlay"></div>
                    <div class="text" style="height: 140px;">
                        <div class="line"></div>
                        <p class="name">Roger Scott</p>
                        <span class="position">System Analyst</span>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="col-12 text-center">
        <a href="/team">View Details</a>
     </div>
</div>
